#tipped {
	/* position & display are necessary */
	position:absolute;
	display:none;
	
	/* The rest are just to make it look good & can be changed as you want */
	border: 1px solid #404040;
	color: #404040;
	
	border-radius:5px;
	padding:3px;
	z-index: 99999;
	font-size: 0.9em;
	max-width: 50%;
	
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	
	overflow: hidden;
}

/* The tip content gets inserted into this element */
#tipped-content p, #tipped p { padding: 2px; margin: 0px; padding-bottom:0px; } 

/* This is the <div> that holds the close button/link.  No styling is required, but you'll likely want some. */
#tipped-closer-wrapper {
	display:none;
	text-align:center;
	margin: 0px;
}

/* The <span> that is the close button/link.  No styling is required, but you'll likely want some. */
#tipped-closer {
	display:none;
	border:2px outset #999;
	background-color:#CCC;
}
